
<div class="modal_pass_container">
    <div class="pass-form">
        <form [formGroup]="changedPassForm" (ngSubmit)="enviarDatos()">
        <p>El sistema generó una contraseña recientemente. Por favor cree una nueva:</p>
        <label>Ingrese la contraseña:</label>
        <input formControlName="password" type="password" placeholder="Ingrese su contraseña">
        <br>
        <label>Ingrese la contraseña:</label>
        <input formControlName="confirmPassword" type="password" placeholder="Confirme su contraseña">
        <br>
        <div class="cha_pass_buttons">
        <button class="btn_change_pass" type="submit">Cambiar contraseña</button>
        <br>
        <button (click)="signOut()" class="btn_change_pass">Cerrar sesión</button>
        </div>
    </form>
    </div>
</div>