<a routerLink="/Iniciar_sesion">
    <img src="assets/icons/Icono_left.svg" alt="atrás" width="40px" class="atras">
</a>
<img src="assets/img/logo-01.png" class="paraiso_img" alt="paraiso">
<form [formGroup]="restoreForm" (ngSubmit)="enviarDatos()" class="form_container">
    <label>Por favor ingrese su correo electrónico corporativo:</label>
    <br>
    <input formControlName="email" class="input" type="text">
    <br>
    <input class="button_rest {{disabled}}" type="submit" value="Restaurar contraseña">
</form>